fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
SQLAlchemy==2.0.34
pydantic==2.8.2
pydantic-settings==2.7.1
httpx==0.28.1
pytest==8.3.4
bcrypt==4.2.1
alembic==1.14.0
celery==5.4.0
redis==5.2.1
boto3==1.35.88
google-cloud-storage==2.19.0
kagglehub==0.3.6
datasets==3.2.0
openai-whisper==20240930
faster-whisper==1.1.0
transformers==4.47.1
torch==2.5.1
torchaudio==2.5.1
